		body {
			font: 15px sans-serif;
		}
		.axis path,
		.axis line {
			fill: none;
			stroke: #000;
			shape-rendering: crispEdges;
		}
		.bar {
			fill: steelblue;
		}
		.xaxis text {
			font-family: sans-serif;
			font-size: 18px;
			stroke: none;
			fill: grey;
			text-anchor: left;
			align: left;
		}
		.xaxis path {
			fill: none;
			stroke: grey;
			stroke-width: 1;
			shape-rendering: crispEdges;
		}
		.yaxis path {
			fill: none;
			stroke: grey;
			stroke-width: 1;
			shape-rendering: crispEdges;
		}